
:host  {
    width: 100%;
}

// .x-axis path, .y-axis path,
// .x-axis line, .y-axis line{
//   stroke: #ccc;
// }
// .x-axis text, .y-axis text{
//   fill: #ccc;
// //   font-size: 14px;
// }

@media only screen and (max-width: 768px) {
    .main-container {
        width: 80vw;
    }
 }

@media only screen and (max-width : 425px) {
    .main-container {
        width: 98vw;
        margin: auto;
    }
}
