<!-- <div style="display: flex;">
<div class="chartCPU">
    <app-bar-chart-view  *ngIf="dataCPU" [data]="dataCPU" [config]="config" ></app-bar-chart-view>
</div>

<div class="chartMEM">
    <app-bar-chart-view  *ngIf="dataMEM" [data]="dataMEM" [config]="config" ></app-bar-chart-view>
</div>
</div> -->

<div class="check">
    <app-bar-chart-view  *ngIf="dataCPU" [data]="dataCPU" [config]="config" ></app-bar-chart-view>
</div>

<div class="check2">
    <app-bar-chart-view  *ngIf="dataMEM" [data]="dataMEM" [config]="config" ></app-bar-chart-view>
</div>
