.check {
    width: 600px;
    height: 600px;
    border: solid;
    position: relative;
    right: 0;
}

.check2 {
    width: 600px;
    height: 600px;
    border: solid;
    position: relative;
    left: 0;
}